lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
*.swo
.DS_Store

misc
test
node_modules

.editorconfig
.eslintrc.json
.gitignore
.instanbul-yml
.git

gulpfile.js
npm-debug.log

index.integration.test.js
